# Mac
.DS_Store


#Cordova Info
platforms/
plugins/
.idea/
www/.idea/
res

#npm
node_modules
npm-debug.log

# res
resources/signing

adb.0.log
# compilled stuff
bundle.js
www/index.html

#Include TW specific
!tw-plugins/**/plugins
